@page
@model ViaParaTodos.App.Frontend.Pages.ListConductoresModel  
@{
}
<h1>Lista de conductores</h1>
  <a class="btn btn-primary table-btn" asp-page="/AllConductores/CreateConductores"> 
  <i class="fas fa-info-circle"></i>
  Crear
  </a>

<table class="table">
    <tr>
    <th>Nombre</th>
    <th>Apellido</th>
    <th>Cédula</th>
  </tr>
@foreach (var conductor in Model.ListaConductores)
{
    <tr>
    <td>@conductor.Nombres</td>
    <td>@conductor.Apellidos</td>
    <td>@conductor.NumeroDoc</td>
    <td>
      <a class="btn btn-primary table-btn" asp-page="/AllConductores/DetailsConductores" asp-route-idconductor="@conductor.Id">
      <i class="fas fa-info-circle"></i>
      Detalles
      </a>
    </td>
    <td>
      <a class="btn btn-primary table-btn" asp-page="/AllConductores/EditConductores" asp-route-idconductor="@conductor.Id">
      <i class="fas fa-info-circle"></i>
      Editar
      </a>
    </td>
    <td>
      <a class="btn btn-primary table-btn" asp-page="/AllConductores/EliminarConductores" asp-route-idconductor="@conductor.Id">
      <i class="fas fa-info-circle"></i>
      Eliminar
      </a>
    </td>

    </tr>
}
</table>