@page
@model ViaParaTodos.App.Frontend.Pages.ListAccidentesModel  
@{
}
<h1>Lista de Accidentes</h1>
  <a class="btn btn-primary table-btn" asp-page="/AllAccidentes/CreateAccidente">
  <i class="fas fa-info-circle"></i>
  Crear
  </a>
<table class="table">
    <tr>
    <th>Fecha</th>
    <th>Descripción</th>
    <th>Gravedad</th>
    <th>Localización</th>
  </tr>
@foreach (var accidente in Model.ListaAccidentes)
{
    <tr>
      <td>@accidente.Fecha</td>
    <td>@accidente.Descripcion</td>
    <td>@accidente.Gravedad</td>
    <td>@accidente.LocalizacionId</td>
      
    <td>
      <a class="btn btn-primary table-btn" asp-page="/AllAccidentes/ListVC" asp-route-idaccidente="@accidente.Id">
      <i class="fas fa-info-circle"></i>
      Detalles
      </a>
      </td>
      <td>
      <a class="btn btn-primary table-btn" asp-page="/AllAccidentes/UpdateAccidente" asp-route-idaccidente="@accidente.Id">
      <i class="fas fa-info-circle"></i>
      Editar
      </a>
      </td>
      <td>
<a class="btn btn-primary table-btn" asp-page="/AllAccidentes/DeleteAccidente" asp-route-idaccidente="@accidente.Id">
      <i class="fas fa-info-circle"></i>
      Eliminar
      </a>
      </td>
    </tr>
}
</table>