@page
@model ViaParaTodos.App.Frontend.Pages.ListVehiculosModel  
@{
}
<h1>Lista de vehiculos</h1>
  <a class="btn btn-primary table-btn" asp-page="/AllVehiculos/CreateVehiculos"> 
  <i class="fas fa-info-circle"></i>
  Crear
  </a>


<table class="table">
    <tr>
      <th>Id</th>
    <th>Placa</th>
    <th>Modelo</th>
    <th>Marca</th>
  </tr>
@foreach (var vehiculo in Model.ListaVehiculos)
{
    <tr>
      <td>@vehiculo.Id</td>
    <td>@vehiculo.Placa</td>
    <td>@vehiculo.Modelo</td>
    <td>@vehiculo.Marca</td>
     <td>
      <a class="btn btn-primary table-btn" asp-page="/AllVehiculos/DetailsVehiculos" asp-route-idVehiculo="@vehiculo.Id">
      <i class="fas fa-info-circle"></i>
      Detalles
      </a>
       </td>
     <td>
      <a class="btn btn-primary table-btn" asp-page="/AllVehiculos/EditVehiculos" asp-route-idVehiculo="@vehiculo.Id">
      <i class="fas fa-info-circle"></i>
      Editar
      </a>
       </td>
     <td>
      <a class="btn btn-primary table-btn" asp-page="/AllVehiculos/EliminarVehiculos" asp-route-idVehiculo="@vehiculo.Id">
      <i class="fas fa-info-circle"></i>
      Eliminar
      </a>
       </td>
    </tr>
}
</table>